body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header, main, footer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  main {
    background-color: #fff;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input, select, button {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    background-color: #555;
  }
  